@import "variables";

.container {
  position: relative;
}

.active { z-index: 1; }

.skills {
  position: absolute;
  left: 50%;
  top: 0;
  padding: $gap;
  transform: scale(.75) translate3d(-50%, -50%, 0);
  transform-origin: 0 0;
  background: $panel-bg-color;
  box-shadow: $default-shadow;
  z-index: 1;
  // animation: skills-in .5s ease;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 20em;
  }
}

.character {}

@keyframes skills-in {
  from {
    background-color: transparent;
    box-shadow: none;
  }
}
