@import "variables";

.container {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.message {
  line-height: 1.6;
  text-shadow: $text-shadow;
  opacity: .4;
  transition: opacity .15s ease;
  animation: message-in .25s ease .2s backwards;
  border-bottom: 1px rgba(255, 255, 255, .25) solid;

  &:last-child {
    border-bottom: none;

  }

  &:nth-last-child(2) { opacity: .65; }
  &:hover,
  &:nth-last-child(1) { opacity: 1; }
}

@keyframes message-in {
  from {
    opacity: 0;
    transform: translateY($gap);
  }
}
