@import "variables";

.container {
  display: flex;
  position: relative;
  // padding: 0 (4*$px);
  // background: $shade-color;
}

.alignLeft {
  justify-content: flex-start;
}

.alignRight {
  justify-content: flex-end;
}
